<div class="container">
    <header>
        <h1 class="admin-title">Lead - {{ item.name }} {{ item.last_name }} ({{ item.chinese_name }})</h1>
        <div class="badge bg-secondary">{{ item.id }}</div>
        <div class="badge bg-secondary">{{ item.created_at  | to_time | date: "%Y-%m-%d %H:%M:%S" }}</div>
        <div class="badge bg-secondary">{{ item.language }}</div>
    </header>

    <div class="card-body">
        <div class="mb-3">
            <h5 class="card-title">Personal Information</h5>
            <div class="row mb-1 g-1">
                <div class="col-4 col-sm-3" style="min-width:135px;">
                    <input name=":title" type="text" value="{{ item.title }}" class="form-control" readonly/>
                </div>

                <div class="col-8 col-sm-5" style="max-width:calc(100% - 135px);">
                    <label for="inputFirstName" class="visually-hidden">First Name</label>
                    <input name=":name" type="text" class="form-control" id="inputFirstName" placeholder="First Name*" value="{{ item.name }}" readonly>

                </div>

                <div class="col-12 col-sm-4">

                    <label for="inputLastName" class="visually-hidden">Last Name</label>
                    <input name=":last_name" type="text" class="form-control" id="inputLastName" placeholder="Last Name*" value="{{ item.last_name }}" readonly>

                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-12">

                    <label for="inputChineseName" class="visually-hidden">Chinese Name</label>
                    <input name=":chinese_name" type="text" class="form-control" id="inputChineseName" placeholder="Chinese Name" value="{{ item.chinese_name }}" readonly>

                </div>
            </div>
        </div>

        <div class="mb-3">
            <h5 class="card-title">Company Information</h5>
            <div class="row mb-1 g-1">
                <div class="col-12 col-sm-6">

                    <label for="inputCompanyName" class="visually-hidden">Company Name (English)</label>
                    <input name=":company_name" type="text" class="form-control" id="inputCompanyName" placeholder="Company Name (English)*" value="{{ item.company_name }}" readonly>

                </div>

                <div class="col-12 col-sm-6">

                    <label for="inputChineseCompanyName" class="visually-hidden">Company Name (Chinese)</label>
                    <input name=":company_chinese_name" type="text" class="form-control" id="inputChineseCompanyName" placeholder="Company Name (Chinese)*" value="{{ item.company_chinese_name }}" readonly>

                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-12 col-sm-5">

                    <label for="inputPosition" class="visually-hidden">Position</label>
                    <input name=":company_position" type="text" class="form-control" id="inputPosition" placeholder="Position*" value="{{ item.company_position }}" readonly>

                </div>

                <div class="col-4 col-sm-2">

                    <label for="inputCompanyPhoneAreaCode" class="visually-hidden">Company Phone Area Code</label>
                    <input name=":phone_area_code" type="text" class="form-control" id="inputCompanyPhoneAreaCode" placeholder="Area Code" value="{{ item.phone_area_code }}" readonly>
                </div>

                <div class="col-8 col-sm-5">

                    <label for="inputCompanyPhone" class="visually-hidden">Phone</label>
                    <input name=":company_phone" type="tel" class="form-control" id="inputCompanyPhone" placeholder="Phone" value="{{ item.company_phone }}" readonly>

                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-12">

                    <label for="inputWebsite" class="visually-hidden">Website</label>
                    <input name=":website" type="text" class="form-control" id="inputWebsite" placeholder="Website" value="{{ item.website }}" readonly>

                </div>
            </div>
        </div>

        <div class="mb-3">
            <h5 class="card-title">Contact Information</h5>
            <div class="row mb-1 g-1">
                <div class="col-12">

                    <label for="inputAddress" class="visually-hidden">Address</label>
                    <input name=":address_1" type="text" class="form-control" id="inputAddress" placeholder="Address*" value="{{ item.address_1 }}" readonly>

                </div>
            </div>

            <div class="row mb-1 g-1">
                <div class="col-12 col-sm-7">

                    <label for="inputPostal" class="visually-hidden">Postal Code</label>
                    <input name=":postal_code" type="text" class="form-control" id="inputPostal" placeholder="Postal Code" value="{{ item.postal_code }}" readonly>

                </div>
                <div class="col-12 col-sm-5">

                    <label for="inputCountry" class="visually-hidden">Country</label>
                    <input name=":country" type="text" class="form-control" id="inputCountry" placeholder="Country*" value="{{ item.country }}" readonly>

                </div>
            </div>

            <div class="row mb-1 g-1">
                <div class="col-12 col-sm-5">

                    <label for="inputEmail" class="visually-hidden">Email</label>
                    <input name=":email" type="email" class="form-control" id="inputEmail" placeholder="Email*" value="{{ item.email }}" readonly>

                </div>

                <div class="col-4 col-sm-2">

                    <label for="inputPersonPhoneAreaCode" class="visually-hidden">Phone Area Code</label>
                    <input name=":phone_area_code" type="email" class="form-control" id="inputPersonPhoneAreaCode" placeholder="Email*" value="{{ item.phone_area_code }}" readonly>
                </div>

                <div class="col-8 col-sm-5">

                    <label for="inputPerson" class="visually-hidden">Mobile Number</label>
                    <input name=":phone" type="tel" class="form-control" id="inputPerson" placeholder="Mobile Number" value="{{ item.phone }}" readonly>

                </div>
            </div>

            <p class="card-text">* required</p>
            <div class="row mb-1 g-1">
                <div class="col-12">
                    <div class="form-check">
                        <input name=":consent" class="form-check-input" type="checkbox" value="yes" id="checkPrivacy" {% if item.consent == "yes" %}checked{% endif %} readonly onclick="return false;">
                        <label class="form-check-label">
                            I have read and agree to <a href="#" data-bs-toggle="modal" data-bs-target="#modal_terms">terms and conditions</a>.
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mb-1 g-1">
                <div class="col-12">
                    <div class="form-check">
                        <input name=":consent_gdpr" class="form-check-input" type="checkbox" value="yes" id="checkGDPR" {% if item.consent == "yes" %}checked{% endif %} readonly onclick="return false;">
                        <label class="form-check-label">
                            (If you are from a member state of the European Union ("EU") / European Economic Area ("EEA")), please tick here if you accept our use of your provided data for direct marketing purposes.
                            <span class="text-remark">
                                * For non-EU/EEA customers, please skip this box which is solely for EU/EEA customers as required by the relevant data protection law in the EU.
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <a href="/admin/" class="btn btn-primary">Back to Home</a>
    </div>
</div>